<!DOCTYPE html>
<html>
<head>
	<title>Restaurant Selector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
</html>
<div class= "container">
<div class= "row">
<div class="jumbotron jumbotron-fluid col-xs-12 col-sm-12 col-lg-12">
    <h1>Your restaurant is: <%= restaurantVar %></h1>
    <p>The address is: <%= addressVar %></p>
</div>
</div>
<div class= "row">
    <div class= "col-xs-12 col-sm-12 col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110135.14348104742!2d-97.76494133847179!3d30.38721602213544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ea78e1d4df2d2e!2sRudy&#39;s+Country+Store+%26+Bar-B-Q!5e0!3m2!1sen!2sus!4v1528425042164" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<div class= "row">
    <div class= "col-xs-6 col-sm-6 col-lg-6">
    <a class="btn btn-primary" href="/" role="button">Go Back Home</a>
    </div>
    <div class= "col-xs-6 col-sm-6 col-lg-6">
    <a class="btn btn-primary" href="/restaurant" role="button">Reselect Restaurant</a>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>